---
---
@charset "utf-8";

html {
  margin: auto;
  background: rgb(28, 28, 28);
  color: white;
  max-width: 900px;
}
body {
  margin: 10px;
}
header {
  text-align: center;
}

.post {
  background:#333;
  padding: 5px 20px;
  margin: 20px 5px;
}
.post-header {
  background:#333;
  padding: 5px 20px;
  margin: 20px 5px;
}
.post .title {
  margin-bottom: 0;
}
.post .date {
  margin: 0;
}
.post .excerpt {
  background: #222;
  padding: 10px;
}

main img {
  max-width: 300px;
  float: right;
  padding: 20px;
  margin: 20px;
}

footer {
  text-align: center;
  background: #333;
  color: white;
  padding: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #262626
}

th {
  background-color: #333;
  color: white;
}

.logo {
  width: 150px;
}

a {
  color: lightcyan;
}
a:hover {
  color: whitesmoke;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(28, 28, 28);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
