---
layout: default
---

{{ content }}
{% assign contentwonl = content | strip_newlines %} {% unless contentwonl == ""  %} <br /> {% endunless %} <!-- add line break if there is any content -->

{%- if site.posts.size > 0 -%}
  <table>
    <tr>
      <th>Post Date</th>
      <th>Title</th>
      <th>Tags</th>
    </tr>
    {%- for post in site.posts -%}
    <tr>
      <th>{%- assign date_format = "%Y-%m-%d" -%}
      [ {{ post.date | date: date_format }} ] </th>
      <th><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></th>
      <th><i>[ {{ post.tags }} ]</i></th>
    </tr>
    {%- endfor -%}
  </table>
{%- endif -%}
